{% extends "home/base.htm" %} {% load staticfiles %} {% block title %} About michael {% endblock %} {% block body %}
<section>
    <div class="page-name">
        <h1 class="title-text">About Me</h1>
    </div>
    <br>
    <br>
    <br>
    <article>
        <div class="content is-medium">
            <p>
                <i>
                Hi there, I'm Michael Michaelson, a Full Stack Developer. I love solving problems, learning and uncovering 
                all things Python, Java, C, JavaScript, HTML, and CSS.
            </i>
            </p>
        </div>
        <br>
        <div class="pic">
            <div class="card my-pic">
                <img src="/media/home/michael.jpg" class="card-img-top" alt="Michael's Picture">
                <div class="card-body">
                    <p class="card-text">
                        Me in front of a camera.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="content">
            <p>
                So you're here to learn more about me. Great!!! I love talking about myself 😝. How did I get into programming? Simple, I love solving problems and learning new things. Naturally, programming and techs was the perfect place to be. They always have problems
                to be solved, always changing and always moving forward. Like for I'm naturally drawn to this field. Some people might find this overwhelming but I love it. You’ll never ever run out of things to learn, pretty cool if you ask me.
            </p>
        </div>
        <br>
        <div class="content">
            <h3>Tech Stack</h3>
            If you're wondering what language or technologies I use during production. Look no further. Here are all the resources I use.
            <div>
                <br>
                <h4>Languages</h4>
                <ul>
                    <li>Python</li>
                    <li>C</li>
                    <li>Java</li>
                    <li>JavaScript ES6</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>SQL</li>
                </ul>
            </div>
            <br>
            <div>
                <h4>Frameworks</h4>
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>Handlebar.js</li>
                    <li>Scss</li>
                </ul>
            </div>
            <br>
            <div>
                <h4>Databases</h4>
                <ul>
                    <li>Postgresql</li>
                    <li>SQLite</li>
                </ul>
            </div>
            <br>
            <div>
                <h4>CI & CD and Deployment</h4>
                <ul>
                    <li>GitHub</li>
                    <li>Docker</li>
                    <li>Travis CI</li>
                    <li>Heroku</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="content">
            <h3>Computer</h3>
            <p>These are my programming hardware and software.</p>
            <ul>
                <li>13" Windows Notebook</li>
                <li>VS Code Editor</li>
            </ul>
        </div>
        <br>
        <div class="content">
            <h3>Questions</h3>
            <p>Got a question for me or want to get in touch, contact me...</p>
        </div>
    </article>
</section>

{% endblock %}