{% extends "home/base.htm" %} {% load staticfiles %} {% block title %} Contact me {% endblock %} {% block body %}
<section>
    <div class="page-name">
        <h1 class="title-text">Contact Me</h1>
    </div>
    <br>
    <br>
    <br>
    <section>
        <div class="content">
            <h1 class="content-title">Want to get in touch with me?</h1>
            <h3 class="subtitle">Find me on facebook, medium, linkedin, github, or codepen.</h3>
            <br>
            <div>
                <div class="social-list">
                    <span>
                        <a href="https://facebook.com"><img class="social" src="media/home/facebook.png" alt="facebook"></a>
                    </span>
                    <span>
                        <a href="https://github.com.mykelson"><img class="social" src="media/home/github.png" alt="github"></a>
                    </span>
                    <span>
                        <a href="https://medium.com/@michael"><img class="social" src="media/home/medium.png" alt="medium"></a>
                    </span>
                    <span>
                        <a href="https://codepen.com"><img class="social" src="media/home/codepen.jpg" alt="codepen"></a>
                    </span>
                    <span>
                        <a href="https://linkedin.com"><img class="social" src="media/home/linkedin6.jpg" alt="linkedin"></a>
                    </span>
                </div>
            </div>
            <br>
            <div class="email">
                Or email me at
                <a href="mailto:mykeltuz@gmail.com">mykeltuz@gmail.com</a>
            </div>
        </div>

    </section>
</section>


{% endblock %}