{% extends "home/base.htm" %} {% load staticfiles %} {% block title %} Michael {% endblock %} {% block body %}
<section>
    <div class="page-title">
        <h1>
            <div class="title-text">
                <span class="tick">```</span>
                <span class="greet">Hello World,</span>
                <span> I'm </span>
                <span class="name">Michael</span>
                <span class="tick">```</span>
            </div>
        </h1>
    </div>
</section>
<br>
<section>

</section>

{% endblock %}